{% extends "base.html" %}

{% block content %}

<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
<section class="text-gray-700 body-font bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-bold title-font mb-2 text-white">Categories</h1>
      <p class="sm:text-4xl text-3xl font-semibold title-font mb-2 text-white">These categories represent the status of the leads</p>
    </div>

    <div class="lg:w-2/3 w-full mx-auto overflow-auto bg-white shadow-md rounded-lg">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead class="bg-blue-600 text-white">
          <tr>
            <th class="px-4 py-3 text-sm uppercase tracking-wider">Status</th>
            <th class="px-4 py-3 text-sm uppercase tracking-wider">Lead Count</th>
          </tr>
        </thead>
        <tbody>
          <tr class="bg-white">
            <td class="px-4 py-3 whitespace-nowrap  text-gray-900">Unassigned</td>
            <td class="px-4 py-3 whitespace-nowrap  text-gray-900">{{ unassigned_lead_count }}</td>
          </tr>
          {% for category in category_list %}
            <tr class="bg-white"> 
              <td class="px-4 py-3 whitespace-nowrap  text-gray-900">
                <a href="{% url 'leads:category-detail' category.pk %}" class="text-blue-500 hover:underline">{{ category.name }}</a>
              </td>
              <td class="px-4 py-3 whitespace-nowrap  text-gray-900">Check by clicking on status</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
</body>

{% endblock content %}
