{% extends "base.html" %}

{% block content %}
<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
<section class="text-gray-700 body-font bg-gradient-to-r from-purple-500 via-pink-500 to-red-500 text-white">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="sm:text-4xl text-3xl font-bold title-font mb-2 text-white">{{ category.name }}</h1>
      <p class="sm:text-4xl text-3xl font-semibold title-font mb-2 text-white">These are the leads under this category</p>
    </div>

    <div class="lg:w-2/3 w-full mx-auto overflow-auto bg-white shadow-md rounded-lg">
      <table class="table-auto w-full text-left whitespace-no-wrap">
        <thead class="bg-blue-600 text-white">
          <tr>
            <th class="px-3 py-3 text-sm uppercase tracking-wider">
                First Name
            </th>
            <th class="px-3 py-3 text-sm uppercase tracking-wider">
                Last Name
            </th>
            <th class="px-3 py-3 text-sm uppercase tracking-wider">
                Age
            </th>
          </tr>
        </thead>
        <tbody>
            {% for lead in category.leads.all %}
                <tr class="bg-white"> 
                    <td class="px-4 py-3 whitespace-nowrap text-gray-900">
                      <a class=" text-blue-500 hover:underline" href="{% url 'leads:lead-detail' lead.pk %}">{{ lead.first_name }}</a>
                    </td>
                    <td class="px-4 py-3 whitespace-nowrap text-gray-900">{{ lead.last_name }}</td>
                    <td class="px-4 py-3 whitespace-nowrap text-indigo-900">{{ lead.age }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</section>
</body>

{% endblock content %}