{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="container mx-auto px-5 py-8 flex flex-col">
        <div class="w-full mb-8 flex justify-between items-center border-b border-gray-200">
            <div>
                <h1 class="text-4xl text-blue-600 font-semibold">Leads</h1>
                <a class="text-gray-600 hover:text-blue-500" href="{% url 'leads:category-list' %}">
                    View categories 
                </a>
            </div>
            {% if request.user.is_organisor %}
            <div>
                <a class="text-gray-600 hover:text-blue-500" href="{% url 'leads:lead-create' %}">
                    Create a new lead
                </a>
            </div>
            {% endif %}
        </div>

        <div class="overflow-x-auto">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-blue-600 text-white">
                        <tr>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">
                                First Name
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">
                                Last Name
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">
                                Age
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">
                                Email
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">
                                Mobile Number
                            </th>
                            <th scope="col" class="px-6 py-3 text-left text-sm font-medium uppercase tracking-wider">
                                Category
                            </th>
                            <th scope="col" class="px-6 py-3 text-right text-sm font-medium">
                                <span class="sr-only">Edit</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for lead in leads %}
                            <tr class="bg-white">
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                    <a class="text-blue-500 hover:text-blue-800" href="{% url 'leads:lead-detail' lead.pk %}">{{ lead.first_name }}</a>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.last_name }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.age }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.email }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    {{ lead.phone_number }}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    {% if lead.category %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                                            {{ lead.category.name }}
                                        </span>
                                    {% else %}
                                        <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-gray-800">
                                            Unassigned
                                        </span>
                                    {% endif %}
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                    <a href="{% url 'leads:lead-update' lead.pk %}" class="text-indigo-600 hover:text-indigo-900">
                                        Edit
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="7" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    There are currently no leads
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        {% if unassigned_leads.exists %}
            <div class="mt-8 flex flex-col">
                <h1 class="text-4xl text-blue-600 font-semibold">Unassigned Leads</h1>
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-4">
                    {% for lead in unassigned_leads %}
                        <div class="bg-white border border-gray-200 p-6 rounded-lg shadow-md">
                            <h2 class="text-lg font-semibold text-gray-900 mb-3">{{ lead.first_name }} {{ lead.last_name }}</h2>
                            <p class="text-gray-600">{{ lead.description }}</p>
                            <a href="{% url 'leads:assign-agent' lead.pk %}" class="mt-3 text-indigo-500 inline-flex items-center">
                                Assign an agent
                                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                                </svg>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
</section>
<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/f71160e9-cc44-44b0-86a1-9340786f980e/webchat/config.js" defer></script>
{% endblock content %}

