{% extends 'base.html' %}

{% block content %}
  <div style="max-width: 800px; margin: 0 auto;">
    <h2 style="text-align: center; color: #333; margin-bottom: 20px;">{{ title }}</h2>
    <h3>Daily Leads</h3>
    <canvas id="dailyLeadChart" width="400" height="200"></canvas>
    <h3>Monthly Leads</h3>
    <canvas id="monthlyLeadChart" width="400" height="200"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      // Daily Chart
      var dailyCtx = document.getElementById('dailyLeadChart').getContext('2d');
      var dailyChart = new Chart(dailyCtx, {
        type: 'bar',
        data: {
          labels: {{ daily_labels|safe }},
          datasets: [{
            label: 'Leads Added per Day',
            data: {{ daily_data|safe }},
            backgroundColor: 'rgba(54, 162, 235, 0.5)',
            borderColor: 'rgba(54, 162, 235, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            x: {
              ticks: {
                color: '#555',
                font: {
                  size: 12,
                  weight: 'bold',  
                },
              },
            },
            y: {
              ticks: {
                color: '#555',
                font: {
                  size: 12,
                },
              },
            },
          },
        },
      });
         // Monthly Chart
      var monthlyCtx = document.getElementById('monthlyLeadChart').getContext('2d');
      var monthlyChart = new Chart(monthlyCtx, {
        type: 'bar',
        data: {
          labels: {{ monthly_labels|safe }},
          datasets: [{
            label: 'Leads Added per Month',
            data: {{ monthly_data|safe }},
            backgroundColor: 'rgba(255, 99, 132, 0.5)',
            borderColor: 'rgba(255, 99, 132, 1)',
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            x: {
              ticks: {
                color: '#555',
                font: {
                  size: 12,
                  weight: 'bold',  
                },
              },
            },
            y: {
              ticks: {
                color: '#555',
                font: {
                  size: 12,
                },
              },
            },
          },
        },
      });
    });
  </script>
{% endblock %}
