{% extends "base.html" %}

{% block content %}
<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
<section class="text-gray-700 body-font overflow-hidden bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-full mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 bg-white rounded-lg shadow-md p-8">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                            <h3 class="text-3xl text-indigo-600 font-medium truncate">{{ lead.first_name }} {{ lead.last_name }}</h3>
                        </div>
                        <p class="mt-1 text-lg text-gray-600 truncate">{{ lead.description }}</p>
                    </div>
                    
                </div>
                <div class="flex mb-4 space-x-4">
                    <a href="{% url 'leads:lead-detail' lead.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1 hover:text-indigo-700">
                        Overview
                    </a>
                    <a href="{% url 'leads:lead-category-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 hover:text-gray-700">
                        Category
                    </a>
                    <a href="{% url 'leads:lead-update' lead.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 hover:text-gray-700">
                        Update Details
                    </a>    
                </div>
                <div class="flex py-2">
                    <span class="text-gray-500">Age:</span>
                    <span class="ml-auto text-gray-900">{{ lead.age }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Email:</span>
                    <span class="ml-auto text-gray-900">{{ lead.email }}</span>
                </div>
                <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                    <span class="text-gray-500">Phone Number:</span>
                    <span class="ml-auto text-gray-900">{{ lead.phone_number }}</span>
                </div>
            </div>
        </div>
    </div>
</section>
</body>

{% endblock content %}
