{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
<div class="max-w-lg mx-auto mt-8 p-6 bg-white rounded-md shadow-lg">
    <a class="text-blue-600 hover:underline" href="{% url 'leads:lead-list'%}">
        &larr; Go back to leads
    </a>
    <div class="py-5 border-t border-gray-200 mt-5">
        <h1 class="text-4xl text-gray-800 font-semibold">Create a new lead</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-md shadow-md">
            Submit
        </button>

    </form>
</div>
</body>
{% endblock content %}
