{% extends "base.html" %}

{% block content %}
<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
<section class="text-gray-700 body-font overflow-hidden bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-full mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 bg-white rounded-lg shadow-md p-8">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                        <h2 class="text-lg font-semibold text-indigo-500 tracking-widest">AGENT DETAILS</h2>
                        <h5 class="text-3xl text-indigo-600 font-medium mb-4">{{ agent.user.username }}</h5>
                        </div>
                    </div>
                    
                </div>
                <div class="flex mb-4 space-x-4">
                    <a href="{% url 'agents:agent-detail' agent.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1 hover:text-indigo-700">
                        Overview
                    </a>
                    <a href="{% url 'agents:agent-update' agent.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1 hover:text-gray-700">
                        Update Details
                    </a>    
                </div>
                <div class="flex py-2">
                    <span class="text-gray-500">Full Name</span>
                    <span class="ml-auto text-gray-900">{{ agent.user.first_name }} {{ agent.user.last_name }}</span>
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Email</span>
                    <span class="ml-auto text-gray-900">{{ agent.user.email }}</span>
                </div>
                <div class="py-3">
                    <a href="{% url 'agents:agent-delete' agent.pk %}" class="w-full mt-3 text-white bg-red-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded transition duration-300 ease-in-out">
                        Delete
                    </a>
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
{% endblock content %}


