{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}

<body class="bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
<section class="text-gray-700 body-font overflow-hidden bg-gradient-to-r from-purple-500 via-pink-500 to-red-500">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-full mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0 bg-white rounded-lg shadow-md p-8">
            <h2 class="text-lg font-semibold text-indigo-500 tracking-widest">AGENT</h2>
            <h3 class="text-3xl text-indigo-600 font-medium mb-4">{{ agent.user.username }}</h3>
            
            <div class="flex mb-4 space-x-4">
                    <a href="{% url 'agents:agent-detail' agent.pk %}" class="flex-grow text-gray-500 border-b-2 border-gray-500 py-2 text-lg px-1 hover:text-gray-700">
                        Overview
                    </a>
                    <a href="{% url 'agents:agent-update' agent.pk %}" class="flex-grow border-b-2 text-indigo-500 border-indigo-500 py-2 text-lg px-1  hover:text-indigo-700">
                        Update Details
                    </a>    
                </div>
            <form form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="w-full text-white bg-blue-500 hover:bg-blue-600 px-3 py-2 rounded-md">Submit</button>
            </form>
            
        </div>
      </div>
    </div>
  </section>
  </body>
{% endblock content %}